*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid_body{
    
    display: grid;
    grid-template-areas:"_header"
                        "_main"
                        "_footer";
    grid-template-columns: auto;
    grid-auto-rows: auto;
    background-color: $back_ground_color;
}

/*

*********************************************  IMPORTANTE  ***********************************************
Se debe aber la carpeta independiente de acamica para que todas las direcciones queden bien establesidas**
**********************************************************************************************************

-Primero se debe crear el repocitoria de esta carpeta en git para no estar creando todo el tiempo versiones
- Se deber organizar el grid_body para organizar los elementos
- se debe generar la clase grid main para que los elementos se estructuren

*/