main{
    grid-area: _main;
    display: grid;
    grid-template-areas:"title"
                        "episodios"
                        "nosotros"
                        "entrevistas"
                        "topicos";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    
    font-family: IBMPlexSans,sans-serif;
    
    .title {   
        grid-area: title;
        font-family: 'IBM Plex Mono', monospace,sans-serif;
        h1{
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
            margin:29px 0 0 16px;
        
            span{
                text-decoration: line-through;
                padding-right:42px;
            }
        }
        p{
            font-weight: 400;
            width: 90%;
            height: 66px;
            margin: 16px 5% 0 5%;
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
        }
        div{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            width: 90%;
            height: 48px;
            margin: 36px 5% 24px 5%;
            font-weight: 500;
            background-color: $button_back_ground_color;
            font-size: 16px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
            &:hover{
                transition-duration:1s;
                background-image: linear-gradient(225deg, #0000FE 0, #00F0B8 100%);
                color: #FFFFFF;
            }
            
        }
    }
    
    .oblicuo {
        position: relative;
        top:0;
        left: 0;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        width: 100%;
        height:300px;
        transform: skewY(-6deg);
        transform-origin: top right;
        
    }

    .episodios{
        grid-area: episodios;
        width: 100%;
        height: 1203.5px;
        display: flex;
        flex-flow: row wrap;
        div{
            width: 100%;
        }
        article{
            width: 100%;
            transform: skewY(6deg);
            transform-origin: top right;
        }
        
        
        h2{
            font-weight: 400;
            margin: calc(100vw/5) 0 21px 16px; 
            /* " *** calc(100vw/5) *** " El calculo de la altura del h2 a top varia en funcion del ancho de la pantalla ya que este afecta el agulo de inclinacion del contenedor, por lo que se saca la relacion el ancho de la pantalla 320px y la margen top 64px lo cual da 320/64= 5. Entonces para que sea adaptable solo es tener el ancho de la pantalla 100vw/5 asi conserva la relacion. */
            width: 157px;
            height: 42px;
            text-transform: capitalize;
            font-size: 36px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 42px;
        }

        .pc{
            display: none;
        }
        
        .movile{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            width: 93.12%;
            height: 225px;
            margin: 0 0 11px 11px;
            transform: none;
            transform-origin: none;
        }
        .embed-container {
            position: relative;
            padding-bottom: 73%;
            height: 0;
            
        }
        .embed-container iframe {
            border: none;
            border-radius: 5px;
            position: absolute;
            top:0;
            left: 0;
            width: 101%;
            height: 100%;
        
        }

    }
    

    .nosotros{
        grid-area: nosotros;
        display: flex;
        flex-flow: row nowrap; 
        position: relative;
        top:0;
        .phone_over{
            width: 100%;
            overflow: hidden;

            img{
                width: 99%;
                height: 519px;
            }
        }
        
        p{  
            align-items: center;
            width: 90%;
        }
    } 
    
    .entrevistas{
        grid-area: entrevistas;
        img{
            width: 50%;
        }
    }
    .topicos{
        grid-area: topicos;
        img{
            width: 50%;
        }
    }


}