/*Variables Generales*/
/*variables Header*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenido {
  width: 100%;
}

.grid_body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "_header" "_main" "_footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: auto;
  background-color: #FFFFFF;
}

/*

*********************************************  IMPORTANTE  ***********************************************
Se debe aber la carpeta independiente de acamica para que todas las direcciones queden bien establesidas**
**********************************************************************************************************

-Primero se debe crear el repocitoria de esta carpeta en git para no estar creando todo el tiempo versiones
- Se deber organizar el grid_body para organizar los elementos
- se debe generar la clase grid main para que los elementos se estructuren

*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: _header;
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 600px) {
  header {
    width: 100%;
    height: 80px;
  }
}

header img {
  width: 24px;
  height: 24px;
  margin: 10px 0 0 5%;
}

@media screen and (min-width: 600px) {
  header img {
    width: 36px;
    height: 36px;
    margin: 22px 0 0 100px;
  }
}

header .menu_movil {
  width: 18px;
  height: 10px;
  margin: 16px 5.9% 0 0;
}

header .menu {
  display: none;
}

@media screen and (min-width: 600px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    height: 80px;
  }
  header .menu_movil {
    display: none;
  }
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 68px;
    height: 26px;
    list-style: none;
    text-transform: capitalize;
  }
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: _main;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "episodios" "nosotros" "entrevistas" "topicos";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  font-family: IBMPlexSans,sans-serif;
}

main .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: 'IBM Plex Mono', monospace,sans-serif;
}

main .title h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 29px 0 0 16px;
}

main .title h1 span {
  text-decoration: line-through;
  padding-right: 42px;
}

main .title p {
  font-weight: 400;
  width: 90%;
  height: 66px;
  margin: 16px 5% 0 5%;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

main .title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  width: 90%;
  height: 48px;
  margin: 36px 5% 24px 5%;
  font-weight: 500;
  background-color: #00F3BB;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

main .oblicuo {
  position: relative;
  top: 0;
  left: 0;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  width: 100%;
  height: 300px;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

main .episodios {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: episodios;
  width: 100%;
  height: 1203.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main .episodios article {
  width: 100%;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

main .episodios h2 {
  font-weight: 400;
  margin: calc(100vw/5) 0 21px 16px;
  /* " *** calc(100vw/5) *** " El calculo de la altura del h2 a top varia en funcion del ancho de la pantalla ya que este afecta el agulo de inclinacion del contenedor, por lo que se saca la relacion el ancho de la pantalla 320px y la margen top 64px lo cual da 320/64= 5. Entonces para que sea adaptable solo es tener el ancho de la pantalla 100vw/5 asi conserva la relacion. */
  width: 157px;
  height: 42px;
  text-transform: capitalize;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
}

main .episodios .pc {
  display: none;
}

main .episodios .movile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 93.12%;
  height: 225px;
  margin: 0 0 11px 11px;
  -webkit-transform: none;
          transform: none;
  -webkit-transform-origin: none;
          transform-origin: none;
}

main .nosotros {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: nosotros;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  top: 0;
}

main .nosotros .phone_over {
  width: 100%;
  overflow: hidden;
}

main .nosotros .phone_over img {
  width: 360px;
  height: 519px;
}

main .nosotros p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

main .entrevistas {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: entrevistas;
}

main .entrevistas img {
  width: 50%;
}

main .topicos {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: topicos;
}

main .topicos img {
  width: 50%;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: _footer;
}
/*# sourceMappingURL=style.css.map */